html {
  background-image: url("adult-blur-city-936043.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* app name */
h1 {
  font-family: "Cutive Mono", monospace;
  font-size: 270%;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: #ff0066;
  text-shadow: 1px 1px 2px pink;
}
/* instructions */
.instructions {
  border-color: rgb(44, 185, 63);
  display: inline-block;
  font-family: "Cutive Mono", monospace;
  text-shadow: 1px 1px 2px rgb(64, 230, 194);
  font-weight: bolder;
  font-size: 150%;
  margin-left: 25%;
}
p {
  margin: 2% 0% -2% 0%;
}
/* calc ui & calc-io */
.calc {
  width: 473px;
  border: 3px solid;
  border-color: #ff0066a8;
  margin: 2% 0% 0% 20%;
  border-radius: 3%;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  padding: 0% 1% 1% 1%;
}
#calc-io {
  width: 400px;
  height: 50px;
  margin: 5% 0% 4% 7%;
  border-color: #ff0066a8;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
}
/* buttons */
button {
  border-radius: 5px;
  width: 60px;
  height: 40px;
  background-color: #584c4c63;
}
button:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes background-color {
  100% {
    background-color:#4791d0;
  }
}
button.eval {
  width: 400px;
}
button.adv {
  background-color: #07c7e963;
}
.clearEntry, .allClear {
  background-color: #f33de463;
}
.pi.adv, .euler.adv {
  background-color: #12e42e63;
}